.grow4 {
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  height: 47px;
  width: 100%;
  margin-top: 5px;
  transition: height 0.25s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;  
  margin-left: 5px;
  color: #fff;
  font-size: 14px;
}
.grow4:hover{
  height: 175px;
  overflow: visible;
}

.grow5{
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  width: 100%;
  margin-top: 5px;
  text-align: center; 
  margin-left: 5px;
  color: #fff;
  font-size: 14px;
}

.iflex_container4 {
  /* We first create a flex layout context */
  display: inline-flex;
  width: calc((100% - 30px) / 5);
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-direction: column;
  /* Then we define how is distributed the remaining space */
}

.iflex_container3 {
  /* We first create a flex layout context */
  display: flex;
  width: calc(100%-5px);

  background-color: #ec0000;
  margin:5px;
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  border-radius:5px

  /* Then we define how is distributed the remaining space */
}

.grow3 {
  padding: 5px 5px 5px 5px;
  height: 49px;
  width: 100%;
  margin-top: 5px;
  margin-left: 5px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
font-size: 14px;
}

.card_box{
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.graph_controls {
  width: calc(((100% - 30px) / 5)*3 + 10px);
  border: 1px solid rgb(47,47,47);
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left:10px;
  overflow: hidden;
  position: relative;
  background-color: #eef6f8;
}

.button_container {
  background-color: #fff;	
}

.graph_title {
  text-align: center;
  border: 0;
  font-size: 30px;
  text-decoration: underline;
}

.DateRangePickerInput{
  border: 0px;
  background-color: transparent;
}

.SingleDatePickerInput{
  border: 0px;
  background-color: transparent;
}

.DateInput_input {
  border: 1px solid #bbb;
  border-radius:5px;
  font-size:14px;
  font-weight:400;
  line-height:normal;
}

.DateInput {
  background-color:transparent;

}